.welcome {
  padding: 2rem 2rem;
  background-color: #f9f5f0;
  text-align: center;
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
}

.welcome h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #418C6B;
}

.welcome p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}
