.team {
  padding: 2rem;
  text-align: center;
  background-color: #ecebe5;
}

.team h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #418C6B;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.team-member {
  width: 220px;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.team-photo {
  width: 100%;
  height: 260px;
  object-fit: cover; 
  border-radius: 10px;
}

.team-member h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.team-role {
  font-size: 0.9rem;
  color: #555;
}

.team-more-btn {
  margin-top: 1rem;
  background: none;
  border: none;
  color: #418C6B;
  font-weight: 600;
  cursor: pointer;
}

.team-more-btn:hover {
  text-decoration: underline;
}


.team-highlights {
  margin-top: 1rem;
  padding-left: 1.2rem;
  text-align: left;
  font-size: 0.9rem;
  color: #444;
}

.team-highlights li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
