html, body, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Reset simple */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

